/*** uncss> filename: css/header.css ***/
body {
	margin: 0;
	padding: 0;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(-90deg, rgb(10, 72, 209), rgb(17, 131, 251));
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(17, 131, 251);
	padding: 10px;
	border-color: rgb(12, 100, 235) rgb(233, 242, 251);
	color: rgb(255, 255, 255);
	height: 30px;
	background-position: 0% 0%;


}

.header h1 {
	background-attachment: scroll;
	/* 鑳屾櫙婊氬姩鏂瑰紡涓烘粴鍔?*/
	background-clip: border-box;
	/* 鑳屾櫙瑁佸壀涓鸿竟妗嗘鐩?*/
	background-color: rgba(0, 0, 0, 0);
	/* 鑳屾櫙棰滆壊涓篟GBA(0, 0, 0, 0) */
	background-image: none;
	/* 娌℃湁鑳屾櫙鍥惧儚 */
	background-origin: padding-box;
	/* 鑳屾櫙浣嶇疆璧风偣涓哄唴杈硅窛妗嗙洅 */
	background-position-x: 0px;
	/* 鑳屾櫙姘村钩浣嶇疆涓?鍍忕礌 */
	background-position-y: 0px;
	/* 鑳屾櫙鍨傜洿浣嶇疆涓?鍍忕礌 */
	background-repeat: repeat;
	/* 鑳屾櫙骞抽摵鏂瑰紡涓洪噸澶?*/
	background-size: auto;
	/* 鑳屾櫙灏哄涓鸿嚜鍔ㄩ€傚簲 */

	box-sizing: border-box;
	/* 鐩掓ā鍨嬩负杈规妗嗙洅 */
	color: rgb(255, 255, 255);
	/* 鏂囨湰棰滆壊涓篟GB(255, 255, 255) */
	cursor: pointer;
	/* 鍏夋爣鏍峰紡涓烘寚閽?*/
	display: inline;
	/* 鍏冪礌浠ヨ鍐呮柟寮忔樉绀?*/
	font-size: 25px;
	/* 瀛椾綋澶у皬涓?0鍍忕礌 */
	font-weight: 400;
	/* 瀛椾綋绮楃粏涓?00 */
	height: auto;
	/* 鍏冪礌楂樺害涓鸿嚜閫傚簲 */
	line-height: 30px;
	/* 琛岄珮涓?0鍍忕礌 */
	text-decoration-color: rgb(255, 255, 255);
	/* 鏂囨湰瑁呴グ绾块鑹蹭负RGB(255, 255, 255) */
	text-decoration-line: none;
	/* 娌℃湁鏂囨湰瑁呴グ绾?*/
	text-decoration-style: solid;
	/* 鏂囨湰瑁呴グ绾挎牱寮忎负瀹炵嚎 */
	text-decoration-thickness: auto;
	/* 鏂囨湰瑁呴グ绾垮帤搴︿负鑷€傚簲 */
	text-size-adjust: 100%;
	/* 鏂囨湰澶у皬璋冩暣涓?00% */
	text-wrap: nowrap;
	/* 鏂囨湰涓嶆崲琛?*/
	transition-behavior: normal;
	/* 杩囨浮鏁堟灉涓烘甯?*/
	transition-delay: 0s;
	/* 杩囨浮寤惰繜涓?绉?*/
	transition-duration: 0.4s;
	/* 杩囨浮鎸佺画鏃堕棿涓?.4绉?*/
	transition-property: color, background, transform, opacity, left, top, right, bottom, -webkit-transform, -o-transform;
	/* 杩囨浮灞炴€т负棰滆壊銆佽儗鏅€佸彉鎹€侀€忔槑搴︺€佸乏銆佷笂銆佸彸銆佷笅銆?webkit-transform鍜?o-transform */
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	/* 杩囨浮鏃堕棿鍑芥暟涓篶ubic-bezier(0.175, 0.885, 0.32, 1) */
	white-space-collapse: collapse;
	/* 绌虹櫧鎶樺彔涓烘姌鍙犵姸鎬?*/
	width: auto;
	/* 鍏冪礌瀹藉害涓鸿嚜閫傚簲 */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* WebKit鐐瑰嚮楂樹寒棰滆壊涓篟GBA(0, 0, 0, 0) */
}

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav ul li {
	display: inline-block;
	margin-right: 10px;
}

.nav ul li a {
	/* text-decoration: none;
    font-weight: 700;    
   
    opacity: 1; */
	background-attachment: scroll;
	/* 鑳屾櫙婊氬姩鏂瑰紡涓烘粴鍔?*/
	background-clip: border-box;
	/* 鑳屾櫙瑁佸壀涓鸿竟妗嗘鐩?*/
	background-color: rgba(0, 0, 0, 0);
	/* 鑳屾櫙棰滆壊涓洪€忔槑榛戣壊 */
	background-image: none;
	/* 娌℃湁鑳屾櫙鍥惧儚 */
	background-origin: padding-box;
	/* 鑳屾櫙浣嶇疆璧风偣涓哄唴杈硅窛妗嗙洅 */
	background-position-x: 0px;
	/* 鑳屾櫙姘村钩浣嶇疆涓?鍍忕礌 */
	background-position-y: 0px;
	/* 鑳屾櫙鍨傜洿浣嶇疆涓?鍍忕礌 */
	background-repeat: repeat;
	/* 鑳屾櫙骞抽摵鏂瑰紡涓洪噸澶?*/
	background-size: auto;
	/* 鑳屾櫙灏哄涓鸿嚜鍔ㄩ€傚簲 */

	border-bottom-left-radius: 0px;
	/* 搴曢儴宸﹁竟妗嗗渾瑙掑崐寰勪负0鍍忕礌 */
	border-bottom-right-radius: 0px;
	/* 搴曢儴鍙宠竟妗嗗渾瑙掑崐寰勪负0鍍忕礌 */
	border-top-left-radius: 0px;
	/* 椤堕儴宸﹁竟妗嗗渾瑙掑崐寰勪负0鍍忕礌 */
	border-top-right-radius: 0px;
	/* 椤堕儴鍙宠竟妗嗗渾瑙掑崐寰勪负0鍍忕礌 */

	box-sizing: border-box;
	/* 鐩掓ā鍨嬩负杈规妗嗙洅妯″瀷 */

	color: rgb(255, 255, 255);
	/* 鏂囨湰棰滆壊涓虹櫧鑹?*/

	cursor: pointer;
	/* 榧犳爣鎸囬拡鏍峰紡涓烘寚閽堝舰鐘?*/

	display: block;
	/* 鍏冪礌浠ュ潡绾ф柟寮忔樉绀?*/

	font-size: 15px;
	/* 瀛椾綋澶у皬涓?5鍍忕礌 */

	height: 50px;
	/* 鍏冪礌楂樺害涓?0鍍忕礌 */

	line-height: 30px;
	/* 琛岄珮涓?0鍍忕礌 */

	list-style-image: none;
	/* 鍒楄〃椤规棤鏍囪鍥惧儚 */

	list-style-position: outside;
	/* 鍒楄〃椤规爣璁颁綅浜庡閮?*/

	list-style-type: none;
	/* 鍒楄〃椤规棤鏍囪绫诲瀷 */

	opacity: 0.9;
	/* 鍏冪礌涓嶉€忔槑搴︿负0.9 */
	padding-bottom: 10px;
	/* 鍐呰竟璺濆簳閮ㄤ负10鍍忕礌 */
	padding-left: 10px;
	/* 鍐呰竟璺濆乏渚т负10鍍忕礌 */
	padding-right: 10px;
	/* 鍐呰竟璺濆彸渚т负10鍍忕礌 */
	padding-top: 10px;
	/* 鍐呰竟璺濋《閮ㄤ负10鍍忕礌 */

	position: relative;
	/* 鍏冪礌鐩稿瀹氫綅 */

	text-align: center;
	/* 鏂囨湰灞呬腑瀵归綈 */

	text-decoration-color: rgb(255, 255, 255);
	/* 鏂囨湰瑁呴グ棰滆壊涓虹櫧鑹?*/
	text-decoration-line: none;
	/* 鏂囨湰鏃犺楗扮嚎 */
	text-decoration-style: solid;
	/* 鏂囨湰瑁呴グ鏍峰紡涓哄疄绾?*/
	text-decoration-thickness: auto;
	/* 鏂囨湰瑁呴グ绾跨矖缁嗕负鑷姩 */

	text-size-adjust: 100%;
	/* 鏂囨湰澶у皬璋冩暣涓?00% */

	transition-behavior: normal;
	/* 杩囨浮琛屼负涓烘甯?*/
	transition-delay: 0s;
	/* 杩囨浮寤惰繜涓?绉?*/
	transition-duration: 0.4s;
	/* 杩囨浮鎸佺画鏃堕棿涓?.4绉?*/
	transition-property: color, background, transform, opacity, left, top, right, bottom, -webkit-transform, -o-transform;
	/* 杩囨浮灞炴€т负棰滆壊銆佽儗鏅€佸彉鎹€佷笉閫忔槑搴︺€佸乏渚с€侀《閮ㄣ€佸彸渚с€佸簳閮ㄣ€?webkit-transform銆?o-transform */

	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	/* 杩囨浮鏃堕棿鍑芥暟涓篶ubic-bezier(0.175, 0.885, 0.32, 1) */

	width: 80px;
	/* 鍏冪礌瀹藉害涓?0鍍忕礌 */

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* WebKit娴忚鍣ㄤ腑鐨勮Е鎽搁珮浜鑹蹭负閫忔槑榛戣壊 */
	/* background-color: rgba(0, 0, 0, 0.1); */
}

.user {
	position: relative;
	padding: 2px 6px;
	margin-left: 3px;
	line-height: 20px;
	color: #fff;
	opacity: .9;
	margin-right: 50px;
	font-size: 15px;
}



.dropdown-content {
	display: none;
	/* position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -20px; */
	background-clip: padding-box;
	/* 鑳屾櫙瑁佸壀涓哄唴杈硅窛妗嗙洅 */
	background-color: rgb(255, 255, 255);
	/* 鑳屾櫙棰滆壊涓篟GB(255, 255, 255) */

	border-bottom-color: rgba(0, 0, 0, 0.1);
	/* 搴曢儴杈规棰滆壊涓篟GBA(0, 0, 0, 0.1) */
	border-bottom-left-radius: 4px;
	/* 搴曢儴宸︿晶杈规鍦嗚涓?鍍忕礌 */
	border-bottom-right-radius: 4px;
	/* 搴曢儴鍙充晶杈规鍦嗚涓?鍍忕礌 */
	border-bottom-style: solid;
	/* 搴曢儴杈规鏍峰紡涓哄疄绾?*/
	border-bottom-width: 0.666667px;
	/* 搴曢儴杈规瀹藉害涓?.666667鍍忕礌 */

	border-image-outset: 0;
	/* 杈规鍥惧儚澶栧欢涓? */
	border-image-repeat: stretch;
	/* 杈规鍥惧儚骞抽摵鏂瑰紡涓烘媺浼?*/
	border-image-slice: 100%;
	/* 杈规鍥惧儚鍒囧壊涓?00% */
	border-image-source: none;
	/* 杈规鍥惧儚鏉ユ簮涓烘棤 */
	border-image-width: 1;
	/* 杈规鍥惧儚瀹藉害涓? */

	border-left-color: rgba(0, 0, 0, 0.1);
	/* 宸︿晶杈规棰滆壊涓篟GBA(0, 0, 0, 0.1) */
	border-left-style: solid;
	/* 宸︿晶杈规鏍峰紡涓哄疄绾?*/
	border-left-width: 0.666667px;
	/* 宸︿晶杈规瀹藉害涓?.666667鍍忕礌 */

	border-right-color: rgba(0, 0, 0, 0.1);
	/* 鍙充晶杈规棰滆壊涓篟GBA(0, 0, 0, 0.1) */
	border-right-style: solid;
	/* 鍙充晶杈规鏍峰紡涓哄疄绾?*/
	border-right-width: 0.666667px;
	/* 鍙充晶杈规瀹藉害涓?.666667鍍忕礌 */

	border-top-color: rgba(0, 0, 0, 0.1);
	/* 椤堕儴杈规棰滆壊涓篟GBA(0, 0, 0, 0.1) */
	border-top-left-radius: 4px;
	/* 椤堕儴宸︿晶杈规鍦嗚涓?鍍忕礌 */
	border-top-right-radius: 4px;
	/* 椤堕儴鍙充晶杈规鍦嗚涓?鍍忕礌 */
	border-top-style: solid;
	/* 椤堕儴杈规鏍峰紡涓哄疄绾?*/
	border-top-width: 0.666667px;
	/* 椤堕儴杈规瀹藉害涓?.666667鍍忕礌 */

	box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 12px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
	/* 鐩掗槾褰变负涓や釜鎶曞奖鏁堟灉缁勬垚 */
	box-sizing: border-box;
	/* 鐩掓ā鍨嬩负杈规妗嗙洅 */

	color: rgb(255, 255, 255);
	/* 鏂囨湰棰滆壊涓篟GB(255, 255, 255) */


	float: none;
	/* 涓嶆诞鍔?*/

	font-size: 13px;
	/* 瀛椾綋澶у皬涓?3鍍忕礌 */

	height: auto;
	/* 鍏冪礌楂樺害涓?49.823鍍忕礌 */

	left: -35px;
	/* 鍏冪礌宸︿晶浣嶇疆涓?65鍍忕礌 */

	line-height: 20px;
	/* 琛岄珮涓?8.5714鍍忕礌 */

	list-style-image: none;
	/* 鍒楄〃椤规牱寮忓浘鍍忎负鏃?*/
	list-style-position: outside;
	/* 鍒楄〃椤规牱寮忎綅缃负澶栭儴 */
	list-style-type: none;
	/* 鍒楄〃椤规牱寮忕被鍨嬩负鏃?*/

	margin-block-end: 0px;
	/* 鍨傜洿鏂瑰悜鏈澶栬竟璺濅负0鍍忕礌 */
	margin-block-start: 0px;
	/* 鍨傜洿鏂瑰悜璧峰澶栬竟璺濅负2鍍忕礌 */
	margin-bottom: 0px;
	/* 搴曢儴澶栬竟璺濅负0鍍忕礌 */
	margin-inline-end: 0px;
	/* 姘村钩鏂瑰悜鏈鍐呰竟璺濅负0鍍忕礌 */
	margin-inline-start: 0px;
	/* 姘村钩鏂瑰悜璧峰鍐呰竟璺濅负0鍍忕礌 */
	margin-left: 0px;
	/* 宸︿晶澶栬竟璺濅负0鍍忕礌 */
	margin-right: 0px;
	/* 鍙充晶澶栬竟璺濅负0鍍忕礌 */
	margin-top: -3px;
	/* 椤堕儴澶栬竟璺濅负2鍍忕礌 */

	min-width: 120px;
	/* 鏈€灏忓搴︿负150鍍忕礌 */

	opacity: 1;
	/* 涓嶉€忔槑搴︿负1 */

	padding-bottom: 5px;
	/* 搴曢儴鍐呰竟璺濅负5鍍忕礌 */
	padding-inline-start: 0px;
	/* 姘村钩鏂瑰悜璧峰鍐呰竟璺濅负0鍍忕礌 */
	padding-left: 0px;
	/* 宸︿晶鍐呰竟璺濅负0鍍忕礌 */
	padding-right: 0px;
	/* 鍙充晶鍐呰竟璺濅负0鍍忕礌 */
	padding-top: 5px;
	/* 椤堕儴鍐呰竟璺濅负5鍍忕礌 */

	position: absolute;
	/* 瀹氫綅鏂瑰紡涓虹粷瀵瑰畾浣?*/
	right: 0px;
	/* 鍏冪礌鍙充晶浣嶇疆涓?鍍忕礌 */
	text-align: left;
	/* 鏂囨湰瀵归綈鏂瑰紡涓哄乏瀵归綈 */
	text-size-adjust: 100%;
	/* 鏂囨湰澶у皬璋冩暣涓?00% */

	top: 24.8854px;
	/* 鍏冪礌椤堕儴浣嶇疆涓?4.8854鍍忕礌 */

	z-index: 1;
	/* 鍏冪礌灞傜骇涓?000 */

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* Webkit娴忚鍣ㄧ偣鍑婚珮浜鑹蹭负RGBA(0, 0, 0, 0) */

}

.dropdown-content a {
	/* color: black;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    white-space: nowrap; */

	background-attachment: scroll;
	/* 鑳屾櫙婊氬姩鏂瑰紡涓烘粴鍔?*/
	background-clip: border-box;
	/* 鑳屾櫙瑁佸壀涓鸿竟妗嗘鐩?*/
	background-color: rgba(0, 0, 0, 0);
	/* 鑳屾櫙棰滆壊涓篟GBA(0, 0, 0, 0) */
	background-image: none;
	/* 鑳屾櫙鍥惧儚涓烘棤 */
	background-origin: padding-box;
	/* 鑳屾櫙璧锋簮涓哄唴杈硅窛妗嗙洅 */
	background-position-x: 0px;
	/* 鑳屾櫙X杞翠綅缃负0鍍忕礌 */
	background-position-y: 50%;
	/* 鑳屾櫙Y杞翠綅缃负50% */
	background-repeat: repeat;
	/* 鑳屾櫙骞抽摵鏂瑰紡涓洪噸澶?*/
	background-size: auto;
	/* 鑳屾櫙澶у皬涓鸿嚜鍔?*/

	border-bottom-left-radius: 3px;
	/* 搴曢儴宸︿晶杈规鍦嗚涓?鍍忕礌 */
	border-bottom-right-radius: 3px;
	/* 搴曢儴鍙充晶杈规鍦嗚涓?鍍忕礌 */
	border-top-left-radius: 3px;
	/* 椤堕儴宸︿晶杈规鍦嗚涓?鍍忕礌 */
	border-top-right-radius: 3px;
	/* 椤堕儴鍙充晶杈规鍦嗚涓?鍍忕礌 */

	box-sizing: border-box;
	/* 鐩掓ā鍨嬩负杈规妗嗙洅 */

	clear: both;
	/* 娓呴櫎娴姩 */

	color: rgb(60, 67, 83);
	/* 鏂囨湰棰滆壊涓篟GB(60, 67, 83) */


	display: block;
	/* 鍏冪礌浠ュ潡绾ф柟寮忔樉绀?*/

	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Source Han Sans CN", "Source Han Sans", "Source Han Serif", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
	/* 瀛椾綋鏃忎负"Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Source Han Sans CN", "Source Han Sans", "Source Han Serif", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif */
	font-size: 13px;
	/* 瀛椾綋澶у皬涓?3鍍忕礌 */
	font-weight: 400;
	/* 瀛椾綋绮楃粏涓?00 */

	height: 25px;
	/* 鍏冪礌楂樺害涓?2.5625鍍忕礌 */

	line-height: 18.5714px;
	/* 琛岄珮涓?8.5714鍍忕礌 */

	list-style-image: none;
	/* 鍒楄〃椤规牱寮忓浘鍍忎负鏃?*/
	list-style-position: outside;
	/* 鍒楄〃椤规牱寮忎綅缃负澶栭儴 */
	list-style-type: none;
	/* 鍒楄〃椤规牱寮忕被鍨嬩负鏃?*/

	margin-bottom: 5px;
	/* 搴曢儴澶栬竟璺濅负5鍍忕礌 */
	margin-left: 0px;
	/* 宸︿晶澶栬竟璺濅负0鍍忕礌 */
	margin-right: 0px;
	/* 鍙充晶澶栬竟璺濅负0鍍忕礌 */
	margin-top: 5px;
	/* 椤堕儴澶栬竟璺濅负5鍍忕礌 */

	padding-bottom: 2px;
	/* 搴曢儴鍐呰竟璺濅负2鍍忕礌 */
	padding-left: 10px;
	/* 宸︿晶鍐呰竟璺濅负10鍍忕礌 */
	padding-right: 10px;
	/* 鍙充晶鍐呰竟璺濅负10鍍忕礌 */
	padding-top: 2px;
	/* 椤堕儴鍐呰竟璺濅负2鍍忕礌 */

	text-align: left;
	/* 鏂囨湰瀵归綈鏂瑰紡涓哄乏瀵归綈 */
	text-decoration-color: rgb(60, 67, 83);
	/* 鏂囨湰瑁呴グ棰滆壊涓篟GB(60, 67, 83) */
	text-decoration-line: none;
	/* 鏂囨湰瑁呴グ绾夸负鏃?*/
	text-decoration-style: solid;
	/* 鏂囨湰瑁呴グ鏍峰紡涓哄疄绾?*/
	text-decoration-thickness: auto;
	/* 鏂囨湰瑁呴グ鍘氬害涓鸿嚜鍔?*/
	text-size-adjust: 100%;
	/* 鏂囨湰澶у皬璋冩暣涓?00% */
	text-wrap: nowrap;
	/* 鏂囨湰鎹㈣鏂瑰紡涓轰笉鎹㈣ */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* -webkit-tap-highlight-color涓篟GBA(0, 0, 0, 0) */
}

.user:hover .dropdown-content {
	display: block;
}

/*** uncss> filename: css/zh-cn.default.css ***/

main {
	display: block;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

a {
	background: 0
}

a:focus {
	outline: thin dotted
}

a:active,
a:hover {
	outline: 0
}

h1 {
	margin: .67em 0;
	font-size: 2em
}

button,
input,
select {
	margin: 0;
	font-family: inherit;
	font-size: 100%
}

button,
input {
	line-height: normal
}

button,
select {
	text-transform: none
}

button {
	-webkit-appearance: button;
	cursor: pointer
}

input[type=radio] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0
}

table {
	border-spacing: 0;
	border-collapse: collapse
}

.container:after,
.container:before,
.nav:after,
.nav:before {
	display: table;
	content: " "
}

.container:after,
.nav:after {
	clear: both
}

/* *, :after, :before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, 'PingFang SC', 'Source Han Sans CN', 'Source Han Sans', 'Source Han Serif', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
	font-size: 13px;
	line-height: 1.42857143;
	color: #3c4353;
	background-color: #fff
}

button,
input,
select {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

a {
	color: #3c4353;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .4s cubic-bezier(.175, .885, .32, 1);
	-o-transition: .4s cubic-bezier(.175, .885, .32, 1);
	transition: .4s cubic-bezier(.175, .885, .32, 1);
	-webkit-transition-property: color, background, opacity, -webkit-transform;
	-o-transition-property: color, background, opacity, -o-transform;
	transition-property: color, background, opacity, -webkit-transform;
	transition-property: color, background, transform, opacity;
	transition-property: color, background, transform, opacity, -webkit-transform, -o-transform
}

a:focus,
a:hover {
	color: #0c64eb;
	text-decoration: none
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

::-moz-selection {
	text-shadow: none;
	background: #b3d4fc
}

::selection {
	text-shadow: none;
	background: #b3d4fc
}

ul {
	padding-left: 20px
}

.container {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto
}

@media(min-width:768px) {
	.container {
		max-width: 972px
	}
}

@media(min-width:992px) {
	.container {
		max-width: 1760px
	}
}

@media(min-width:1800px) {
	.container {
		max-width: 1760px
	}
}

.text-center {
	text-align: center
}

ul {
	margin-top: 0;
	margin-bottom: 10px
}

h1,
h2 {
	font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, 'PingFang SC', 'Source Han Sans CN', 'Source Han Sans', 'Source Han Serif', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
	font-weight: 700;
	line-height: 1.1;
	color: inherit
}

h1,
h2 {
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 20px
}

label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700
}

input[type=radio] {
	margin: 5px 0 0;
	margin-top: 0\9;
	line-height: normal
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000
}

input[type=radio]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.form-control::-webkit-input-placeholder {
	color: #838a9d
}

.form-control::-moz-placeholder {
	color: #838a9d
}

.form-control:-ms-input-placeholder {
	color: #838a9d
}

.form-control {
	display: block;
	width: 100%;
	height: 32px;
	padding: 5px 8px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #222;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
}

.form-control:focus {
	border-color: #0c64eb;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(12, 100, 235, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(12, 100, 235, .6)
}

.radio-inline input[type=radio] {
	position: absolute;
	margin-top: 3px;
	margin-top: 4px\9;
	margin-left: -20px
}

.radio-inline {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer
}

.radio-inline+.radio-inline {
	margin-top: 0;
	margin-left: 10px
}

.required {
	position: relative
}

.required:after {
	position: absolute;
	top: 0;
	right: -10px;
	display: inline-block;
	font-size: 14px;
	color: #ff5d5d;
	content: '*'
}

table {
	max-width: 100%;
	font-size: inherit;
	background-color: transparent
}

caption {
	padding: 8px 10px;
	color: #838a9d;
	text-align: left
}

th {
	text-align: left
}

.table {
	width: 100%;
	margin-bottom: 20px
}

.table td,
.table th {
	padding: 8px 10px;
	line-height: 1.42857143;
	vertical-align: top;
	border-bottom: 1px solid #cbd0db;
	-webkit-transition: background .2s cubic-bezier(.175, .885, .32, 1);
	-o-transition: background .2s cubic-bezier(.175, .885, .32, 1);
	transition: background .2s cubic-bezier(.175, .885, .32, 1)
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0
}

.input-group .form-control,
.input-group-addon {
	display: table-cell
}

.input-group-addon {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle
}

.input-group-addon {
	padding: 5px 12px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	color: #3c495c;
	text-align: center;
	background-color: #eee;
	border: 1px solid #dcdcdc;
	border-radius: 2px
}

.input-group-addon:empty {
	width: 1px;
	padding: 0
}

.input-group .form-control:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.input-group-addon:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.input-group-addon:last-child {
	border-left: 0
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

@-moz-document url-prefix() {}

@media(min-width:768px) {
	::-webkit-scrollbar {
		width: 10px;
		height: 10px
	}

	::-webkit-scrollbar-button {
		width: 0;
		height: 0
	}

	::-webkit-scrollbar-button:end:increment,
	::-webkit-scrollbar-button:start:decrement {
		display: block
	}

	::-webkit-scrollbar-button:vertical:end:decrement,
	::-webkit-scrollbar-button:vertical:start:increment {
		display: none
	}

	::-webkit-scrollbar-thumb:horizontal,
	::-webkit-scrollbar-thumb:vertical,
	::-webkit-scrollbar-track:horizontal,
	::-webkit-scrollbar-track:vertical {
		border-color: transparent;
		border-style: solid
	}

	::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal {
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box
	}

	::-webkit-scrollbar-thumb {
		min-height: 28px;
		background-color: rgba(0, 0, 0, .2);
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border-radius: 2px;
		-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07)
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(0, 0, 0, .4);
		-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25)
	}

	::-webkit-scrollbar-thumb:active {
		background-color: rgba(0, 0, 0, .5);
		-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35)
	}

	::-webkit-scrollbar-thumb:horizontal,
	::-webkit-scrollbar-thumb:vertical,
	::-webkit-scrollbar-track:horizontal,
	::-webkit-scrollbar-track:vertical {
		border-width: 0
	}

	::-webkit-scrollbar-track:hover {
		background-color: rgba(0, 0, 0, .05);
		-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1)
	}

	::-webkit-scrollbar-track:active {
		background-color: rgba(0, 0, 0, .05);
		-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07)
	}
}

.container {
	position: relative
}

.container {
	max-width: 1800px !important
}

body {
	padding-bottom: 40px;
	background-color: #efefef
}

a:active,
a:focus,
button:active,
button:focus {
	outline: 0 !important
}

.text-middle {
	vertical-align: middle !important
}

.w-90px {
	width: 90px !important
}

.w-140px {
	width: 140px !important
}



[class^=icon-] {
	font-family: ZentaoIcon;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-pencil:before {
	content: "\e254"
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-transition: .4s cubic-bezier(.175, .885, .32, 1);
	-o-transition: .4s cubic-bezier(.175, .885, .32, 1);
	transition: .4s cubic-bezier(.175, .885, .32, 1);
	-webkit-transition-property: background, border, outline, opacity, -webkit-box-shadow;
	-o-transition-property: background, border, box-shadow, outline, opacity;
	transition-property: background, border, outline, opacity, -webkit-box-shadow;
	transition-property: background, border, box-shadow, outline, opacity;
	transition-property: background, border, box-shadow, outline, opacity, -webkit-box-shadow
}

.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn:focus,
.btn:hover {
	color: #3c4353;
	text-decoration: none
}

.btn:active {
	text-decoration: none;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1)
}

.btn {
	color: #3c4353;
	background-color: #fff;
	border-color: #d6dae3
}

.btn:active,
.btn:focus,
.btn:hover {
	color: #3c4353;
	background-color: rgba(255, 255, 255, .8);
	border-color: #b8bfce
}

.btn:active {
	background-color: #f2f2f2;
	background-image: none;
	border-color: #b8bfce
}

.btn-primary {
	color: #fff;
	background-color: #0c64eb;
	border-color: transparent
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	color: #fff;
	background-color: rgba(12, 100, 235, .8);
	border-color: rgba(0, 0, 0, 0)
}

.btn-primary:active {
	background-color: #0b5ad3;
	background-image: none;
	border-color: rgba(0, 0, 0, 0)
}

.btn-wide {
	min-width: 120px
}

.radio-inline input[type=radio] {
	margin-top: 2px
}

.form-control {
	-webkit-box-shadow: none;
	box-shadow: none
}

.form-actions {
	margin-top: 20px;
	margin-bottom: 0
}

.form-actions .btn {
	margin-right: 10px
}

form label {
	font-weight: 400;
	color: #3c495c
}

.table-form {
	margin-bottom: 0;
	table-layout: fixed
}

.table-form>tbody>tr>td,
.table-form>tbody>tr>th {
	padding: 7px;
	vertical-align: middle;
	border-bottom: 0
}

.table-form>tbody>tr>th {
	width: 100px;
	font-weight: 700;
	text-align: right
}

.table-form .input-group {
	width: 100%
}

.input-group-addon {
	border-right-width: 0;
	border-left-width: 0
}

.input-group-addon:last-child {
	border-right-width: 1px
}

.required:after {
	top: 6px;
	right: -10px;
	font-size: 20px
}

td.required:after {
	top: 12px;
	right: -5px
}

input::-webkit-contacts-auto-fill-button {
	position: absolute;
	right: 0;
	display: none !important;
	pointer-events: none;
	visibility: hidden
}

#main {
	padding: 20px 0
}

#main>.container {
	padding: 0 20px
}

@media(min-width:1400px) {
	#main>.container {
		padding: 0 40px
	}
}

.main-content {
	padding: 20px;
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05), 0 2px 6px 0 rgba(0, 0, 0, .045);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05), 0 2px 6px 0 rgba(0, 0, 0, .045)
}

.main-header {
	padding: 5px 20px;
	border-bottom: 1px solid #eee
}

.main-header:after,
.main-header:before {
	display: table;
	content: " "
}

.main-header:after {
	clear: both
}

.main-header>h2 {
	display: block;
	float: left;
	margin: 0 10px 0 0;
	font-size: 14px;
	line-height: 34px
}

.main-content .main-header {
	margin: -20px -20px 10px
}

.table tbody>tr>td {
	vertical-align: middle
}

.table tbody>tr:last-child {
	border-bottom: 0
}

.table caption {
	margin-bottom: 5px;
	background: #f1f1f1;
	border: 0
}

@-moz-document url-prefix() {}